Complete ${context.data.language} code, return rest code, no explaining

```${context.data.language}
${context.data.relatedCode}
```

Code:
```${context.data.language}
${context.data.beforeCursor}
```
