Complete ${context.lang} code, return rest code, no explaining
## check by controler,service, model
#set($isController = $!{ArchUtil.isController(${context.fileName}, ${context.lang})})
#set($isService = $!{ArchUtil.isService(${context.fileName}, ${context.lang})})

#if ($isController)
    #set($spec = $!{PromptConfig.load().spec["controller"]})
    #if (!$spec.isEmpty())
        #set($additionContext = "requirements: \n$spec")
    #end
    #set($additionContext = "$additionContext$mvcContextService.controllerPrompt($file)")
    ## get service and model code by imports ?
#elseif ($isService)
    #set($spec = $!{PromptConfig.load().spec["service"]})
    #if (!$spec.isEmpty())
        #set($additionContext = "requirements: \n$spec")
    #end
    #set($additionContext = "${context.servicePrompt($file)}")
    ## get service and model code by imports ?
#else
    #set($additionContext = $!{Smart.simliarChunk($file)})
#end
