name: CI

on: [ push ]

jobs:
  build:
    strategy:
      matrix:
#        os: [ macos-latest, ubuntu-latest, windows-latest ]
#        Windows offers timeouts: https://github.com/unit-mesh/unit-eval/actions/runs/7101623294/job/19331414199
        os: [ macos-latest, ubuntu-latest ]
    runs-on: ${{ matrix.os }}

    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 10
      - uses: actions/setup-java@v3
        with:
          distribution: 'zulu'
          java-version: '11'

      - name: Setup Gradle
        uses: gradle/gradle-build-action@v2.8.0
        with:
          arguments: build

      - name: Execute Gradle build
        run: ./gradlew build

      - name: Execute Gradle Coverage
        run: ./gradlew check

      - name: Upload coverage reports to Codecov
        uses: codecov/codecov-action@v3
        env:
          CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}
